extends layout

block content
  h1 DadBoss
  p.lead WHO'S
    strong  YOUR
    span  DADDY?
  hr
  .content(style={margin: 0})
    .section(style={background:'#f0f5f9'})
      .head daddy says
      p
        strong big daddy
        em  - "get your ass on the lawn mower"
      p
        strong suave pubes
        em  - "mow harder!"
    .section(style={background:'#f9f0f5'}, id="active-goal")
      .head curr obj
      .goal #{activeGoal}
    .section(style={background:'#f9f5f0'})
      .head boss kids
      .kids
        .contact
          img.contact-img(src='https://i.ytimg.com/vi/-QdfHMWsou0/maxresdefault.jpg')
        .contact
          img.contact-img(src='https://cdn.someecards.com/posts/sexiest-man-alive-twitter-efy.png')
        .contact
          img.contact-img(src='https://peopledotcom.files.wordpress.com/2016/08/mel-gibson-10.jpg')
        .contact
          img.contact-img(src='https://static.boredpanda.com/blog/wp-content/uploads/2017/11/sexiest-man-alive-years-people-magazine-81-5a157be96d4d8__700.jpg')