extends layout

block content
  h1 DadBoss
  p.lead WHO'S
    strong  YOUR
    span  DADDY?
  hr
  .row(style={margin: 0})
    .col-sm-6(style={background:'#f0f5f9'})
      h2 daddy says
      p
        strong big daddy
        em  - "get your ass on the lawn mower"
      p
        strong suave pubes
        em  - "mow harder!"
    .col-sm-6(style={background:'#f9f0f5'}, id="active-goal")
      p curr obj
      h2 #{activeGoal}
    .col-sm-6(style={background:'#f9f5f0'})
      h2 boss kids
      .kids
        .contact
          img.contact-img(src='https://i.ytimg.com/vi/-QdfHMWsou0/maxresdefault.jpg')
        .contact
          img.contact-img(src='https://i.ytimg.com/vi/-QdfHMWsou0/maxresdefault.jpg')
        .contact
          img.contact-img(src='https://i.ytimg.com/vi/-QdfHMWsou0/maxresdefault.jpg')
        .contact
          img.contact-img(src='https://i.ytimg.com/vi/-QdfHMWsou0/maxresdefault.jpg')
        .contact
          img.contact-img(src='https://i.ytimg.com/vi/-QdfHMWsou0/maxresdefault.jpg')
        .contact
          img.contact-img(src='https://i.ytimg.com/vi/-QdfHMWsou0/maxresdefault.jpg')
        .contact
          img.contact-img(src='https://i.ytimg.com/vi/-QdfHMWsou0/maxresdefault.jpg')
        .contact
          img.contact-img(src='https://i.ytimg.com/vi/-QdfHMWsou0/maxresdefault.jpg')